#error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: fixed;
    background-color: white;
    overflow: hidden;
    text-align: center;

    & a {
        margin-top: 1em;
        color: black;
        transition: .5s;
    }

    & a:hover {
        color: lightskyblue;
    }

    & h2 {
        cursor: pointer;
        margin: .5em;
        position: absolute;
        top: 0;
        left: 0;
        color: rgb(250, 250, 250);
        transition: .5s;
    }

    & h2:hover {
        color: black;
    }
}