@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Source+Code+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-weight: bold;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.25;
}

/*effect-underline*/
a.effect-underline {
    position: relative;
}

a.effect-underline:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: scale(0, 1);
}

a.effect-underline:hover:after {
    opacity: 1;
    transform: scale(1);
}