@import url("https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: black;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

.red, .blue, .green, .gold, .pink {
  -webkit-transition: .5s;
  transition: .5s;
}

a,
a:active,
a:focus {
  text-decoration: none;
  color: black;
  outline: none;
}

#error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1000;
  position: fixed;
  background-color: white;
  overflow: hidden;
  text-align: center;
}

#error a {
  margin-top: 1em;
  color: black;
  -webkit-transition: .5s;
  transition: .5s;
}

#error a:hover {
  color: lightskyblue;
}

#error h2 {
  cursor: pointer;
  margin: .5em;
  position: absolute;
  top: 0;
  left: 0;
  color: #fafafa;
  -webkit-transition: .5s;
  transition: .5s;
}

#error h2:hover {
  color: black;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .across {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 35px;
}

@media screen and (max-width: 800px) {
  header .across .remove {
    display: none;
  }
}

header #title {
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -35px;
}

header #title h1 {
  max-width: 100%;
  font-size: 24vw;
  position: absolute;
  word-wrap: break-word;
}

header #title .img {
  height: 80%;
  width: 60%;
  background-image: url("../images/header/Self2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  header #title .img {
    background-attachment: scroll;
  }
}

about .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 10em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: .25em;
}

about .banner h1 {
  padding: .1em;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

about .blurb {
  margin: 2em;
}

about .blurb p {
  font-size: 7vw;
  line-height: 1.5em;
}

@media screen and (max-width: 600px) {
  about .blurb p {
    font-size: 3em;
  }
}

about .tellMeMore {
  text-align: right;
  font-size: 20vw;
  color: white;
  background-color: black;
}

about .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

about .description .paragraph {
  margin: 1em;
  max-width: 40em;
}

about .description .paragraph p {
  font-size: 1.5em;
  line-height: 2.5em;
}

work h1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

work .project {
  width: 30em;
  height: 30em;
  margin: 1em;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-transition: .5s;
  transition: .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: .25em;
  background-color: black;
}

@media screen and (max-width: 600px) {
  work .project {
    width: 100%;
    margin: 0em;
    background-attachment: scroll;
  }
}

work .project h3 {
  color: white;
  background-color: black;
  width: 100%;
  text-align: center;
}

work .project a {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

work .project:hover {
  width: 100%;
}

work .code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

work .code #brutal {
  background-image: url("../images/work/code/brutal.png");
}

work .code #shred {
  background-image: url("../images/work/code/shred.png");
}

work .code #mulder {
  background-image: url("../images/work/code/mulder.png");
}

work .code #primo {
  background-image: url("../images/work/code/primo.png");
}

work .code #music {
  background-image: url("../images/work/code/discover_music.png");
}

work #expanded {
  display: none;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

work .design .piece {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1em;
}

work .design .piece .hero {
  background-image: url("../images/header/expand.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 30em;
  max-height: 25em;
  overflow: hidden;
}

work .design .piece .hero img {
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

work .design .piece .description {
  margin: 1em;
  max-width: 35em;
}

work .design .hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

work .design .hidden div {
  width: 10em;
  overflow: hidden;
  margin: 1em;
  -webkit-transition: .5s;
  transition: .5s;
}

work .design .hidden div img {
  width: 100%;
  cursor: pointer;
}

work .design .hidden div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  text-align: center;
}

#bonus {
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#bonus h4 {
  margin: 1em;
}

#bonus a {
  margin: .5em;
  -webkit-transition: .25s;
  transition: .25s;
}

#bonus a:hover {
  color: grey;
}
/*# sourceMappingURL=style.css.map */