@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;300;600&display=swap');

body {
  background-color: rgb(25, 25, 25);
  color: #fff;
  height: 200vh;
  font-family: 'Sora', sans-serif;
  font-size: 16px;

  a,
  a:active,
  a:focus {
    color: inherit;
    text-decoration: inherit;
  }

  & nav {
    position: fixed;
    height: 100vh;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    & #logo {
      margin: 1rem;
      width: calc(1rem + 5vw);

      & img {
        width: 100%;
      }
    }

    & #links {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      flex: 1 1 auto;

      & a {
        margin: .5rem;
        padding: .5rem;
        writing-mode: vertical-rl;
        text-orientation: sideways;
        transform: rotate(180deg);
        transition: all .25s ease;
      }

      & a:hover,
      a:active,
      a:focus {
        background-color: white;
        color: rgb(25, 25, 25);
      }
    }
  }

  & header {
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1px;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    // -webkit-overflow-scrolling: touch;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }

    & h1 {
      line-height: calc(15rem + 5vh);
      font-weight: 600;
      width: min-content;
      color: #fff;
      text-shadow: 0 0 1rem #fff;
      font-size: calc(1rem + 15vw);
    }

    & #background {
      transform: translateZ(0);
    }

    & #middle {
      transform: translateZ(-1px) scale(2);
    }

    & #title {
      transform: translateZ(-2px) scale(3);
    }

    & #foreground {
      transform: translateZ(-3px) scale(4);
    }

    .flicker-slow {
      animation: flicker 3s linear infinite;
    }

    .flicker-fast {
      animation: flicker 1s linear infinite;
    }

    @keyframes flicker {

      0%,
      19.999%,
      22%,
      62.999%,
      64%,
      64.999%,
      70%,
      100% {
        text-shadow: 0 0 1rem #fff;
        opacity: .99;

      }

      20%,
      21.999%,
      63%,
      63.999%,
      65%,
      69.999% {
        text-shadow: 0 0 0 #fff;
        opacity: .75;
      }
    }
  }

  & #landing:after {
    animation: grain 8s steps(10) infinite;
    background-image: url("../images/main/ernest-karchmit-grain.jpg");
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.1;
    position: fixed;
    top: -100%;
    width: 300%;
  }

  @keyframes grain {

    0%,
    100% {
      transform: translate(0, 0)
    }

    10% {
      transform: translate(-5%, -10%)
    }

    20% {
      transform: translate(-15%, 5%)
    }

    30% {
      transform: translate(7%, -25%)
    }

    40% {
      transform: translate(-5%, 25%)
    }

    50% {
      transform: translate(-15%, 10%)
    }

    60% {
      transform: translate(15%, 0%)
    }

    70% {
      transform: translate(0%, 15%)
    }

    80% {
      transform: translate(3%, 35%)
    }

    90% {
      transform: translate(-10%, 10%)
    }
  }

  & #about {
    overflow: hidden;
    min-height: 100vh;
    margin: 2rem 25vw 4rem 2rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 1px solid #fff;

    & h2 {
      cursor: default;
      margin-top: 2rem;
      font-size: calc(2rem + 2vw);
      line-height: calc(100% + 5vh);

      & span {
        cursor: pointer;
        font-weight: bold;
        transition: all .5s ease;
      }

      & span:hover,
      span:active,
      span:focus {
        background-color: white;
        color: rgb(25, 25, 25);
      }
    }

    & #about-video {
      display: none;
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: -1;

      & source {
        max-width: 100%;
      }
    }
  }

  & main {
    min-height: 100vh;
    min-height: 100vh;

    & h3 {
      cursor: default;
      text-align: right;
      margin-right: 10vw;
      font-size: calc(2rem + 4vw);
    }

    & p {
      cursor: default;
      margin: 2rem 0 1rem 3rem;
    }

    & .review {
      display: flex;
      flex-direction: column;
      min-height: calc(2rem + 75vh);
      margin: 0 25vw 0 3rem;


      & .content {
        border-bottom: solid 5px rgb(25, 25, 25);
        height: 20rem;
        width: 100%;
        flex: 1;
        background-image: var(--i);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all .5s ease;
        filter: grayscale(.75);
      }

      & .content:hover,
      .content:focus,
      .content:active {
        flex: 15;
        filter: grayscale(.25);
      }
    }

    & #old-logo {
      margin: 0 25vw 0 3rem;
      padding: 0 1rem 1rem 1rem;
      display: flex;
      justify-content: center;
      background-color: #fff;
      transition: all .5s ease;
      filter: grayscale(.75);

      & img {
        max-width: 100%;
      }
    }

    & #old-logo:hover,
    #old-logo:active,
    #old-logo:focus {
      filter: grayscale(.25);
    }

    & #new-logo {
      margin: 0 25vw 0 3rem;
      padding: 0 0 1rem 0;
      display: flex;
      justify-content: center;
      height: 50vh;

      & img {
        max-width: 100%;
      }
    }

    & #new-business-cards {
      margin: 0 25vw 0 3rem;
      display: flex;
      justify-content: center;
      height: 50vh;

      & img {
        max-width: 100%;
      }
    }

    & #new-remp-web {
      flex-direction: row;

      & .content {
        border-right: solid 5px rgb(25, 25, 25);
        height: 75vh;
      }
    }

    & .paragraph {
      cursor: default;
      margin: 1rem 25vw 1rem 3rem;
      line-height: 1.5rem;

      & span {
        font-weight: 600;
      }

      & p {
        margin: 0;
      }

      & a {
        text-decoration: underline;
        transition: .25s;
      }

      & a:hover,
      a:active,
      a:focus {
        background-color: white;
        color: rgb(25, 25, 25);
      }
    }

    & #end-of-remp {
      padding-bottom: 4rem;
      margin-bottom: 4rem;
      border-bottom: 1px solid #fff;
    }
  }

  & #contact {
    margin: 0 25vw 0 3rem;
    min-height: 25vh;

    & a {
      transition: .25s;
    }

    & a:hover,
    a:active,
    a:focus {
      background-color: white;
      color: rgb(25, 25, 25);
    }
  }
}