@import "./text";
@import "./error";
@import "./work";
@import "./project";

body {
    background-color: #fbfbfb;
}

modal {
    z-index: 100;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .warning {
        display: flex;
        flex-direction: column;

        & h1 {
            color: #fbfbfb;
            margin-bottom: 1em;
            text-align: center;
        }

        & .yn {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            & h2 {
                cursor: pointer;
            }
        }
    }

    & div {
        max-width: 100vw;

        & img {
            width: 100%;
        }
    }

    & .close {
        position: absolute;
        margin-bottom: .5em;
        margin-left: .5em;
        top: 0;
        left: 0;
        color: #ff8888;
        cursor: pointer;
    }
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .across {
        position: sticky;
        top: 0;
        z-index: 100;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        height: 35px;

        & .remove {
            @media screen and (max-width: 800px) {
                display: none;
            }
        }
    }

    & #title {
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -35px;

        & h1 {
            max-width: 100%;
            font-size: 23vw;
            position: absolute;
            word-wrap: break-word;
        }

        & .img {
            height: 80%;
            width: 60%;
            background-image: url("../images/header/Self2.png");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;

            @media screen and (max-width: 600px) {
                background-attachment: scroll;
            }
        }

        & #toggle {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: .25em;
            cursor: pointer;
        }
    }
}

about {
    & .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 10em;
        box-sizing: border-box;
        border-style: solid;
        border-width: .25em;

        & h1 {
            padding: .1em;
            transform: rotate(20deg);
        }
    }

    & #sideNav {
        display: none;
        justify-content: space-between;
        flex-direction: column;
        position: fixed;
        right: 0px;
        top: 0px;
        height: 100vh;

        & h3 {
            margin-top: .5em;
            margin-bottom: .5em;
            writing-mode: vertical-rl;
            text-orientation: sideways;
            transform: rotate(180deg);
        }
    }

    & .blurb {
        margin: 2em;

        & p {
            font-size: 7vw;
            line-height: 1.5em;

            @media screen and (max-width: 600px) {
                font-size: 3em;
            }
        }
    }

    & .tellMeMore {
        text-align: right;
        font-size: 20vw;
        color: #fbfbfb;
        background-color: #7A5656;
    }


    & #languages {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media screen and (max-width: 600px) {
            text-align: center;
        }

        & p {
            margin-left: 1em;
            margin-right: 1em;
            margin-top: 1em;
        }
    }

    & .description {
        display: flex;
        flex-direction: column;
        align-items: center;

        & .paragraph {
            margin: 1em;
            max-width: 40em;

            & p {
                font-size: 1.5em;
                line-height: 2.5em;
            }
        }
    }

    & #experience {
        display: flex;
        justify-content: space-around;

        @media screen and (max-width: 600px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        & .column {
            margin: 1em;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            & h3 {
                margin: .25em;
            }
        }
    }
}

work {
    & h1 {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    & .project {
        cursor: pointer;
        width: 30em;
        height: 30em;
        margin: 1em;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        transition: .5s;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-style: solid;
        border-width: .25em;
        background-color: #7A5656;

        @media screen and (max-width: 600px) {
            width: 100%;
            margin: 0em;
            background-attachment: scroll;
        }

        & h3 {
            color: #fbfbfb;
            background-color: #7A5656;
            width: 100%;
            text-align: center;
        }

        & a {
            cursor: pointer;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    & .project:hover {
        width: 100%;
    }

    & .code {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & #brutal {
            background-image: url("../images/work/hidden/brutal/1.png");
        }

        & #shred {
            background-image: url("../images/work/hidden/shred/1.png");
        }

        & #mulder {
            background-image: url("../images/work/hidden/mulder_design/1.png");
        }

        & #primo {
            background-image: url("../images/work/hidden/primo/1.png");
        }

        & #music {
            background-image: url("../images/work/hidden/discover_music/1.png");
        }
    }

    & #expanded {
        display: none;
        position: absolute;
        justify-content: center;
        align-items: center;
    }

    & .design {
        & .top {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        & .piece {
            margin: 1em;

            & .hero {
                background-image: url("../images/header/expand.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                max-width: 30em;
                max-height: 24em;
                overflow: hidden;

                & img {
                    width: 100%;
                    transition: .5s;
                    cursor: pointer;
                }
            }

            & .description {
                margin: 1em;
                max-width: 35em;
            }
        }

        & .hidden {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 1em;
            opacity: 0;
            height: 0;
            overflow: hidden;

            & div {
                width: 10em;
                overflow: hidden;
                margin: 1em;
                transition: .5s;

                & img {
                    width: 100%;
                    cursor: pointer;
                }
            }

            & div:hover {
                transform: scale(1.1);
            }
        }
    }

    .all-work {
        text-align: center;
        background-color: #ff8888;
        margin-bottom: 0;
        padding: 2em;

        & a {
            color: #fbfbfb;
        }
    }
}

contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

    & h1 {
        padding: .25em;
    }
}

#bonus {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h4 {
        margin: 1em;
    }

    & a {
        margin: .5em;
        transition: .25s;
    }

    & a:hover {
        color: #ff5050;
    }
}

.rotate {
    transform: rotate(45deg);
    transition: .25s;
}