@import url("https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

p {
  line-height: 1.25;
}

/*effect-underline*/
a.effect-underline {
  position: relative;
}

a.effect-underline:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
}

a.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1000;
  position: fixed;
  background-color: #F3FAFF;
  overflow: hidden;
  text-align: center;
}

#error a {
  margin-top: 1em;
  color: #3D3E40;
  -webkit-transition: .5s;
  transition: .5s;
}

#error a:hover {
  color: #797D80;
}

#error h2 {
  cursor: pointer;
  margin: .5em;
  position: absolute;
  top: 0;
  left: 0;
  color: #fafafa;
  -webkit-transition: .5s;
  transition: .5s;
}

#error h2:hover {
  color: black;
}

#list {
  display: none;
  margin-left: 2em;
  position: absolute;
}

#list p {
  margin-top: 1em;
}

#list p a {
  cursor: pointer;
}

#allWork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#allWork #preview {
  z-index: -100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  width: 50vw;
}

#allWork #preview .images {
  width: 40vw;
  position: fixed;
  display: none;
}

#allWork #preview .images img {
  height: auto;
  width: 100%;
}

modal {
  display: none;
}

.across {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1rem;
}

content {
  margin-top: 1em;
  min-height: 90vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

content .hero {
  width: 90vw;
}

content .hero img {
  width: 100%;
}

content h3 {
  margin-top: 1em;
}

content .paragraph {
  width: 50vw;
  margin: 1em;
}

@media screen and (max-width: 800px) {
  content .paragraph {
    width: unset;
  }
}

content .paragraph p {
  text-indent: 2em;
  letter-spacing: .05em;
  line-height: 1.5;
}

content .images {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

content .images .image {
  width: 65vw;
  margin-top: 2em;
  margin-bottom: 2em;
}

content .images .image img {
  height: auto;
  width: 100%;
}

body {
  color: #1A3340;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#66CCFF), to(#FFCCFF));
  background-image: linear-gradient(to bottom right, #66CCFF, #FFCCFF);
}

body a,
body a:active,
body a:focus {
  text-decoration: none;
  color: #1A3340;
  outline: none;
}

.container {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.container header {
  padding: 1rem;
}

.container .section {
  height: 100vh;
  scroll-snap-align: start;
}

.container .section #filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 1em;
  color: #1A3340;
}

.container .section #filter p {
  cursor: pointer;
  padding: .2em;
}

.container .section #workList {
  width: 50vw;
  margin-right: 1rem;
}

.container .section #workList li {
  margin-top: .5em;
  border-bottom: 1px solid #1A3340;
  font-size: 1.25rem;
}

.container footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container footer contact {
  margin: 1rem;
}

.container footer contact a {
  color: #498EB3;
}
/*# sourceMappingURL=style.css.map */