@import "./text";
@import "./error";
@import "./work";
@import "./project";

body {
    background-color: #F3FAFF;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;

    header {
        padding: 1rem;
    }

    .section {
        height: 100vh;
        scroll-snap-align: start;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}